.ProjectCard {
	height: 4rem;
	width: 100%;
	background-color: #e0e5ec;
	transition: transform 0.5s ease-out;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transition: background-color 0.3s ease-out 0.12s, height 0.4s ease-out 0.2s;
	box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.1),
		-30px -30px 30px -10px rgba(255, 255, 255, 0.4),
		-0.5px -0.5px 0 rgba(255, 255, 255, 1),
		0.5px 0.5px 0 rgba(0, 0, 0, 0.02);
	border-radius: 14px;

	&:hover {
		height: 12rem;
		z-index: 100000;
		background-color: #fff;
		box-shadow: -3px -3px 22px #fff, 8px 8px 25px #a3b1c6;
	}

	&:hover &--details {
		background-color: #fff;
		box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), inset 3px 3px 8px #a3b1c6;
		border-radius: 14px;
		height: 80%;

		&--icons {
			i {
				// color: #a3b1c6;
				color: #fff;
				display: inline;
				opacity: 1;
				animation: appear-icons 0.8s linear;

			}
		}
	}

	&:hover h3 {
		color: #000;
	}

	h3 {
		color: #fff;
		padding: 1rem;
		font-size: 1rem;
		letter-spacing: 0.6rem;
		transition: all 0.8s ease-out;
		justify-self: flex-start;
	}

	&--details {
		width: 100%;
		height: 0;
		background-color: #a3b1c6;
		transition: all 0.8s ease-out 0.2s;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;

		&--overlay {
			height: 50%;
			width: 100%;
			background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, #a3b1c6e5 100%);
		}
	}



	&--details--icons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 0.5rem;
		position: absolute;

		i {
			font-size: 0.85rem;
			color: none;
			display: none;
			opacity: 0;
			transition: all 0.8s ease-out 0.2s;
		}
	}
}

@media (min-width: 800px) {
	.ProjectCard {
		height: 300px;
		width: 220px;
		background-color: #e0e5ec;
		transition: transform 0.5s ease-out;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: background-color 0.3s ease-out 0.12s, height 0.4s ease-out 0.2s;
		box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.1),
			-30px -30px 30px -10px rgba(255, 255, 255, 0.4),
			-0.5px -0.5px 0 rgba(255, 255, 255, 1),
			0.5px 0.5px 0 rgba(0, 0, 0, 0.02);
		border-radius: 14px;


		&:hover {
			background-color: #fff;
			height: 320px;
			box-shadow: -3px -3px 22px #fff, 8px 8px 25px #a3b1c6;
		}

		&:hover &--details {
			height: 310px;
			background-color: #fff;
			box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 1), inset -1px 0px 5px #a3b1c6;
			border-radius: 14px;

			&--icons {
				i {
					// color: #a3b1c6;
					color: #fff;
					display: inline;
					opacity: 1;
					animation: appear-icons 0.8s linear;
				}
			}
		}

		&:hover h3 {
			color: #000;
		}

		h3 {
			color: #fff;
			padding: 2rem 1rem;
			font-size: 1rem;
			letter-spacing: 0.6rem;
			transition: all 0.8s ease-out;
			justify-self: flex-start;
		}

		&--details {
			width: 100%;
			height: 0;
			background-color: #a3b1c6;
			transition: all 0.8s ease-out 0.2s;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			background-position: top;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&--details--icons {
			display: flex;
			width: 220px;
			flex-direction: row;
			justify-content: space-around;
			align-items: center;
			padding: 1rem 0.5rem;

			i {
				padding-top: 0.85rem;
				font-size: 2rem;
				color: none;
				display: none;
				opacity: 0;
				transition: all 0.8s ease-out 0.2s;
			}
		}
	}
}


@keyframes appear-icons {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}