.Contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  animation: appear 1.2s ease-out;
  overflow: hidden;
}

@keyframes appear {
  0% {
    transform: translateY(800px) scale(2);
  }

  100% {
    transform: translateY(0) scale(1);
  }
}