// @media (min-width: 480px) {
.HomeContent {
	width: 100%;
	height: 85%;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	&--quote-main {
		border-radius: 18px;
		height: 30%;
		width: 100%;
		box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
	}

	&--quote {
		padding: 1rem;
		width: 100%;
		border-radius: 18px;
		color: #777;
		animation: appear 1.5s ease-out;
		animation-delay: 0.6s;
	}

	&--quoteBy {
		padding: 0 1rem;
		width: 100%;
		text-align: left;
		color: #aaa;
		animation: appear 1.7s ease-out;
		animation-delay: 0.8s;
	}
}

.words {
	font-size: 1.8rem;
	padding: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40%;
	color: #a3b1c6;
	box-shadow: -3px -3px 22px #fff, 8px 8px 25px #a3b1c6;
	border-radius: 0 14px 14px 14px;
	font-weight: bold;
	background-color: #e0e5ec;

	&--w1 {
		text-align: left;
		padding-bottom: 50px;
		animation: appear 1.2s ease-out;
	}

	&--w2 {
		text-align: center;
		padding-top: 10px;
		animation: appear 1.2s ease-out;
		animation-delay: 0.2s;
	}

	&--w3 {
		text-align: right;
		padding-top: 70px;
		animation: appear 1.2s ease-out;
		animation-delay: 0.4s;
	}
}

// }

@media (min-width: 1200px) {
	.HomeContent {
		width: 100%;
		height: 65%;
		padding: 2rem 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&--quote-main {
			margin-top: 5rem;
			border-radius: 0 14px 14px 14px;
			height: 130px;
			width: 40%;
			box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
			padding: 1.8rem;
		}

		&--quote {
			width: 100%;
			color: #a3b1c6;
			animation: appear 1.5s ease-out;
			animation-delay: 0.6s;
			padding: 0;
		}

		&--quoteBy {
			width: 40%;
			text-align: left;
			color: #aaa;
			animation: appear 1.7s ease-out;
			animation-delay: 0.8s;
			padding: 0;
		}
	}

	.words {
		padding: 3rem;
		font-size: 2.25rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		width: 50%;
		height: 220px;
		color: #a3b1c6;
		box-shadow: -3px -3px 22px #fff, 8px 8px 25px #a3b1c6;
		border-radius: 0 14px 14px 14px;

		&--w1 {
			text-align: left;
			padding-bottom: 50px;
			animation: appear 1.2s ease-out;
		}

		&--w2 {
			text-align: center;
			padding-top: 30px;
			animation: appear 1.2s ease-out;
			animation-delay: 0.2s;
		}

		&--w3 {
			text-align: right;
			padding-top: 60px;
			animation: appear 1.2s ease-out;
			animation-delay: 0.4s;
		}
	}
}

@keyframes appear {
	0% {
		transform: translateY(800px) scale(2);
	}

	100% {
		transform: translateY(0) scale(1);
	}
}
